
@* <div class="row">
  @foreach (var b in Books)
  {
    <div class="col-sm-6 col-lg-3">
      <a href="/books/@b.Id" title="@b.Name">
        <figure class="bg-main-light">
          <img src="@b.Image" alt="@b.Name" />
        </figure>
        <div class="p-2">
          <h6 class="text-main alert-heading text-center">@b.Name</h6>
        </div>
      </a>
    </div>
  }
</div> *@

<div class="row">
  @foreach (var b in Books)
  {
    <div class="col-sm-6 col-lg-3">
      <a href="/books/@b.Id" title="@b.Name">
        <figure class="bg-main-light">
          <img src="@b.Image" alt="@b.Name" />
          <figcaption>
            @b.Name
          </figcaption>
          <figcaption>
            <h4>@b.Name</h4>
          </figcaption>
          <div class="p-2">
            <h4>@b.Name</h4>
          </div>
        </figure>
      </a>
    </div>
  }
</div>

@code {
  [Parameter, EditorRequired]
  public BookListDTO[] Books { get; set; } = [];
}